ul.list_nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: wheat;
}

li.list_nav {
  float: left;
}

li.list_nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.list_nav a:hover {
  background-color: #111;
}
